

// this custom template from quasar
/*
  ===================================================
  FORM INPUT
  ===================================================
*/
.q-field__bottom {
  font-size: 10px;
  min-height: 15px !important;
  line-height: 1;
  color: rgba(0, 0, 0, 0.54);
  padding: 3px 10px 0 !important;
}
.q-field__message-col>div {
  font-size:10px !important;
}
.menu-button{
  margin-left:-15px ;
}
.halaman{
  margin-left: 5px;
}
// chip sizing
.chip{
  width:100px;
  padding:5px;
}
.chip-able{
  max-width:150px;
  padding:5px;
}

// ===========================================================================
.ba-black{
  border: 1px solid black;
}
.bl-black{
  border-left: 1px solid black;
}
.br-black{
  border-right: 1px solid black;
}
.bb-black{
  border-bottom: 1px solid black;
}
.bt-black{
  border-top: 1px solid black;
}
.mirror-editor {
  ol {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 20px !important;
    li{
      margin-bottom: 1em;
    }
  }
}



