@font-face {
    font-family: "icons";
    src: url("./icons.woff?90b4279b0f3751dd8f5c97c981600e20") format("woff"),
url("./icons.woff2?90b4279b0f3751dd8f5c97c981600e20") format("woff2");
}

i[class^="icon-"]:before, i[class*=" icon-"]:before {
    font-family: icons !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-cus-group_work:before {
    content: "\f101";
}
.icon-cus-groups:before {
    content: "\f102";
}
.icon-eva-bell-outline:before {
    content: "\f103";
}
.icon-eva-facebook:before {
    content: "\f104";
}
.icon-eva-google:before {
    content: "\f105";
}
.icon-eva-home-outline:before {
    content: "\f106";
}
.icon-eva-home:before {
    content: "\f107";
}
.icon-eva-message-circle-outline:before {
    content: "\f108";
}
.icon-eva-person-outline:before {
    content: "\f109";
}
.icon-eva-person:before {
    content: "\f10a";
}
.icon-fa-xmark-solid:before {
    content: "\f10b";
}
.icon-ion-bell-outline:before {
    content: "\f10c";
}
.icon-ion-home-outline:before {
    content: "\f10d";
}
.icon-ion-home:before {
    content: "\f10e";
}
.icon-ion-person:before {
    content: "\f10f";
}
.icon-ion-timer:before {
    content: "\f110";
}
.icon-mat-abc:before {
    content: "\f111";
}
.icon-mat-access_time:before {
    content: "\f112";
}
.icon-mat-account_circle:before {
    content: "\f113";
}
.icon-mat-add_box:before {
    content: "\f114";
}
.icon-mat-add_circle:before {
    content: "\f115";
}
.icon-mat-add_shopping_cart:before {
    content: "\f116";
}
.icon-mat-add:before {
    content: "\f117";
}
.icon-mat-allergy:before {
    content: "\f118";
}
.icon-mat-analytics:before {
    content: "\f119";
}
.icon-mat-app_registration:before {
    content: "\f11a";
}
.icon-mat-arrow_back:before {
    content: "\f11b";
}
.icon-mat-arrow_downward:before {
    content: "\f11c";
}
.icon-mat-arrow_drop_down:before {
    content: "\f11d";
}
.icon-mat-arrow_forward:before {
    content: "\f11e";
}
.icon-mat-arrow_upward:before {
    content: "\f11f";
}
.icon-mat-assessment:before {
    content: "\f120";
}
.icon-mat-assignment_ind:before {
    content: "\f121";
}
.icon-mat-atr:before {
    content: "\f122";
}
.icon-mat-attach_money:before {
    content: "\f123";
}
.icon-mat-auto_awesome_mosaic:before {
    content: "\f124";
}
.icon-mat-backup_table:before {
    content: "\f125";
}
.icon-mat-bedroom_parent:before {
    content: "\f126";
}
.icon-mat-call_made:before {
    content: "\f127";
}
.icon-mat-campaign:before {
    content: "\f128";
}
.icon-mat-cancel:before {
    content: "\f129";
}
.icon-mat-change_history:before {
    content: "\f12a";
}
.icon-mat-check_box_outline:before {
    content: "\f12b";
}
.icon-mat-check_circle:before {
    content: "\f12c";
}
.icon-mat-check:before {
    content: "\f12d";
}
.icon-mat-chevron_left:before {
    content: "\f12e";
}
.icon-mat-chevron_right:before {
    content: "\f12f";
}
.icon-mat-circle:before {
    content: "\f130";
}
.icon-mat-clear_all:before {
    content: "\f131";
}
.icon-mat-clear:before {
    content: "\f132";
}
.icon-mat-close_fullscreen:before {
    content: "\f133";
}
.icon-mat-close:before {
    content: "\f134";
}
.icon-mat-cloud_upload:before {
    content: "\f135";
}
.icon-mat-code:before {
    content: "\f136";
}
.icon-mat-comment:before {
    content: "\f137";
}
.icon-mat-construction:before {
    content: "\f138";
}
.icon-mat-crop_square:before {
    content: "\f139";
}
.icon-mat-dashboard:before {
    content: "\f13a";
}
.icon-mat-dataset:before {
    content: "\f13b";
}
.icon-mat-delete_sweep:before {
    content: "\f13c";
}
.icon-mat-delete:before {
    content: "\f13d";
}
.icon-mat-description:before {
    content: "\f13e";
}
.icon-mat-display_settings:before {
    content: "\f13f";
}
.icon-mat-done_all:before {
    content: "\f140";
}
.icon-mat-done:before {
    content: "\f141";
}
.icon-mat-download:before {
    content: "\f142";
}
.icon-mat-dvr:before {
    content: "\f143";
}
.icon-mat-ear-hearing:before {
    content: "\f144";
}
.icon-mat-edit_document:before {
    content: "\f145";
}
.icon-mat-edit:before {
    content: "\f146";
}
.icon-mat-elderly:before {
    content: "\f147";
}
.icon-mat-email:before {
    content: "\f148";
}
.icon-mat-emergency:before {
    content: "\f149";
}
.icon-mat-error:before {
    content: "\f14a";
}
.icon-mat-event:before {
    content: "\f14b";
}
.icon-mat-exit_to_app:before {
    content: "\f14c";
}
.icon-mat-file_download:before {
    content: "\f14d";
}
.icon-mat-fingerprint:before {
    content: "\f14e";
}
.icon-mat-first_page:before {
    content: "\f14f";
}
.icon-mat-font_download:before {
    content: "\f150";
}
.icon-mat-foot-print:before {
    content: "\f151";
}
.icon-mat-format_align_center:before {
    content: "\f152";
}
.icon-mat-format_align_justify:before {
    content: "\f153";
}
.icon-mat-format_align_left:before {
    content: "\f154";
}
.icon-mat-format_align_right:before {
    content: "\f155";
}
.icon-mat-format_bold:before {
    content: "\f156";
}
.icon-mat-format_clear:before {
    content: "\f157";
}
.icon-mat-format_indent_decrease:before {
    content: "\f158";
}
.icon-mat-format_indent_increase:before {
    content: "\f159";
}
.icon-mat-format_italic:before {
    content: "\f15a";
}
.icon-mat-format_list_bulleted:before {
    content: "\f15b";
}
.icon-mat-format_list_numbered:before {
    content: "\f15c";
}
.icon-mat-format_quote:before {
    content: "\f15d";
}
.icon-mat-format_size:before {
    content: "\f15e";
}
.icon-mat-format_underlined:before {
    content: "\f15f";
}
.icon-mat-forward_to_inbox:before {
    content: "\f160";
}
.icon-mat-fullscreen:before {
    content: "\f161";
}
.icon-mat-gpp_maybe:before {
    content: "\f162";
}
.icon-mat-grade:before {
    content: "\f163";
}
.icon-mat-gradient:before {
    content: "\f164";
}
.icon-mat-group_work:before {
    content: "\f165";
}
.icon-mat-group:before {
    content: "\f166";
}
.icon-mat-groups:before {
    content: "\f167";
}
.icon-mat-hand-front-left:before {
    content: "\f168";
}
.icon-mat-head:before {
    content: "\f169";
}
.icon-mat-health_and_safety:before {
    content: "\f16a";
}
.icon-mat-help_outline:before {
    content: "\f16b";
}
.icon-mat-history:before {
    content: "\f16c";
}
.icon-mat-horizontal_rule:before {
    content: "\f16d";
}
.icon-mat-info:before {
    content: "\f16e";
}
.icon-mat-insert_photo:before {
    content: "\f16f";
}
.icon-mat-insights:before {
    content: "\f170";
}
.icon-mat-inventory_2:before {
    content: "\f171";
}
.icon-mat-key:before {
    content: "\f172";
}
.icon-mat-keyboard_arrow_down:before {
    content: "\f173";
}
.icon-mat-keyboard_arrow_left:before {
    content: "\f174";
}
.icon-mat-keyboard_arrow_right:before {
    content: "\f175";
}
.icon-mat-keyboard_arrow_up:before {
    content: "\f176";
}
.icon-mat-last_page:before {
    content: "\f177";
}
.icon-mat-launch:before {
    content: "\f178";
}
.icon-mat-layers:before {
    content: "\f179";
}
.icon-mat-lens:before {
    content: "\f17a";
}
.icon-mat-link:before {
    content: "\f17b";
}
.icon-mat-local_pharmacy:before {
    content: "\f17c";
}
.icon-mat-local_shipping:before {
    content: "\f17d";
}
.icon-mat-lock_open:before {
    content: "\f17e";
}
.icon-mat-lock:before {
    content: "\f17f";
}
.icon-mat-logout:before {
    content: "\f180";
}
.icon-mat-manage_accounts:before {
    content: "\f181";
}
.icon-mat-mark_email_read:before {
    content: "\f182";
}
.icon-mat-medical_information:before {
    content: "\f183";
}
.icon-mat-medication_liquid:before {
    content: "\f184";
}
.icon-mat-menu_book:before {
    content: "\f185";
}
.icon-mat-menu:before {
    content: "\f186";
}
.icon-mat-message:before {
    content: "\f187";
}
.icon-mat-mic_external_on:before {
    content: "\f188";
}
.icon-mat-mic_external:before {
    content: "\f189";
}
.icon-mat-minimize:before {
    content: "\f18a";
}
.icon-mat-move_to_inbox:before {
    content: "\f18b";
}
.icon-mat-near_me:before {
    content: "\f18c";
}
.icon-mat-next_plan:before {
    content: "\f18d";
}
.icon-mat-note_alt:before {
    content: "\f18e";
}
.icon-mat-open_in_full:before {
    content: "\f18f";
}
.icon-mat-palette:before {
    content: "\f190";
}
.icon-mat-people_alt:before {
    content: "\f191";
}
.icon-mat-person_2:before {
    content: "\f192";
}
.icon-mat-person_3:before {
    content: "\f193";
}
.icon-mat-person:before {
    content: "\f194";
}
.icon-mat-personal_injury:before {
    content: "\f195";
}
.icon-mat-play_arrow:before {
    content: "\f196";
}
.icon-mat-poll:before {
    content: "\f197";
}
.icon-mat-print:before {
    content: "\f198";
}
.icon-mat-priority_high:before {
    content: "\f199";
}
.icon-mat-published_with_changes:before {
    content: "\f19a";
}
.icon-mat-push_pin:before {
    content: "\f19b";
}
.icon-mat-radio_button_unchecked:before {
    content: "\f19c";
}
.icon-mat-receipt_long:before {
    content: "\f19d";
}
.icon-mat-receipt:before {
    content: "\f19e";
}
.icon-mat-redo:before {
    content: "\f19f";
}
.icon-mat-refresh:before {
    content: "\f1a0";
}
.icon-mat-remove:before {
    content: "\f1a1";
}
.icon-mat-report:before {
    content: "\f1a2";
}
.icon-mat-save_alt:before {
    content: "\f1a3";
}
.icon-mat-save:before {
    content: "\f1a4";
}
.icon-mat-search:before {
    content: "\f1a5";
}
.icon-mat-segment:before {
    content: "\f1a6";
}
.icon-mat-send_time_extension:before {
    content: "\f1a7";
}
.icon-mat-send:before {
    content: "\f1a8";
}
.icon-mat-settings:before {
    content: "\f1a9";
}
.icon-mat-shopping_cart_checkout:before {
    content: "\f1aa";
}
.icon-mat-shopping_cart:before {
    content: "\f1ab";
}
.icon-mat-skip_next:before {
    content: "\f1ac";
}
.icon-mat-skip_previous:before {
    content: "\f1ad";
}
.icon-mat-sms_black:before {
    content: "\f1ae";
}
.icon-mat-sms_failed:before {
    content: "\f1af";
}
.icon-mat-sort:before {
    content: "\f1b0";
}
.icon-mat-sound_detection_loud:before {
    content: "\f1b1";
}
.icon-mat-spatial_audio:before {
    content: "\f1b2";
}
.icon-mat-strikethrough_s:before {
    content: "\f1b3";
}
.icon-mat-style:before {
    content: "\f1b4";
}
.icon-mat-subscript:before {
    content: "\f1b5";
}
.icon-mat-summarize:before {
    content: "\f1b6";
}
.icon-mat-superscript:before {
    content: "\f1b7";
}
.icon-mat-supervisor_account:before {
    content: "\f1b8";
}
.icon-mat-swap_horiz:before {
    content: "\f1b9";
}
.icon-mat-sync_alt:before {
    content: "\f1ba";
}
.icon-mat-table_view:before {
    content: "\f1bb";
}
.icon-mat-task_alt:before {
    content: "\f1bc";
}
.icon-mat-text_format:before {
    content: "\f1bd";
}
.icon-mat-textsms:before {
    content: "\f1be";
}
.icon-mat-thumb_up_off_alt:before {
    content: "\f1bf";
}
.icon-mat-today:before {
    content: "\f1c0";
}
.icon-mat-transfer_within_a_station:before {
    content: "\f1c1";
}
.icon-mat-tune:before {
    content: "\f1c2";
}
.icon-mat-tungsten:before {
    content: "\f1c3";
}
.icon-mat-undo:before {
    content: "\f1c4";
}
.icon-mat-verified_user:before {
    content: "\f1c5";
}
.icon-mat-vertical_align_bottom:before {
    content: "\f1c6";
}
.icon-mat-vertical_align_top:before {
    content: "\f1c7";
}
.icon-mat-visibility_off:before {
    content: "\f1c8";
}
.icon-mat-visibility:before {
    content: "\f1c9";
}
.icon-mat-volume_up:before {
    content: "\f1ca";
}
.icon-mat-vpn_key:before {
    content: "\f1cb";
}
.icon-mat-warning:before {
    content: "\f1cc";
}
.icon-my-arm-svgrepo-com:before {
    content: "\f1cd";
}
.icon-my-articulation-bones-svgrepo-com:before {
    content: "\f1ce";
}
.icon-my-big-nose-svgrepo-com:before {
    content: "\f1cf";
}
.icon-my-bones-joint-svgrepo-com:before {
    content: "\f1d0";
}
.icon-my-brain-upper-view-outline-svgrepo-com:before {
    content: "\f1d1";
}
.icon-my-brunette-female-woman-long-hair-svgrepo-com:before {
    content: "\f1d2";
}
.icon-my-ear-outline-svgrepo-com:before {
    content: "\f1d3";
}
.icon-my-eyebrow-svgrepo-com:before {
    content: "\f1d4";
}
.icon-my-facebook:before {
    content: "\f1d5";
}
.icon-my-female-torso-svgrepo-com:before {
    content: "\f1d6";
}
.icon-my-file_sign:before {
    content: "\f1d7";
}
.icon-my-finger-svgrepo-com:before {
    content: "\f1d8";
}
.icon-my-foot-bones-svgrepo-com-(1):before {
    content: "\f1d9";
}
.icon-my-foot-bones-svgrepo-com:before {
    content: "\f1da";
}
.icon-my-foot-side-view-outline-svgrepo-com:before {
    content: "\f1db";
}
.icon-my-footprints-outline-variant-svgrepo-com:before {
    content: "\f1dc";
}
.icon-my-google:before {
    content: "\f1dd";
}
.icon-my-how_to_reg:before {
    content: "\f1de";
}
.icon-my-human-back-svgrepo-com-(1):before {
    content: "\f1df";
}
.icon-my-human-back-svgrepo-com:before {
    content: "\f1e0";
}
.icon-my-human-body-silhouette-with-focus-on-respiratory-system-svgrepo-com:before {
    content: "\f1e1";
}
.icon-my-human-ear-svgrepo-com:before {
    content: "\f1e2";
}
.icon-my-human-fetus-svgrepo-com:before {
    content: "\f1e3";
}
.icon-my-human-finger-svgrepo-com:before {
    content: "\f1e4";
}
.icon-my-human-footprints-svgrepo-com:before {
    content: "\f1e5";
}
.icon-my-human-hand-bones-svgrepo-com:before {
    content: "\f1e6";
}
.icon-my-human-neck-svgrepo-com:before {
    content: "\f1e7";
}
.icon-my-human-ribs-svgrepo-com:before {
    content: "\f1e8";
}
.icon-my-human-skull-side-view-svgrepo-com:before {
    content: "\f1e9";
}
.icon-my-human-teeth-svgrepo-com:before {
    content: "\f1ea";
}
.icon-my-human-trachea-svgrepo-com:before {
    content: "\f1eb";
}
.icon-my-key:before {
    content: "\f1ec";
}
.icon-my-local_hospital:before {
    content: "\f1ed";
}
.icon-my-local_pharmacy:before {
    content: "\f1ee";
}
.icon-my-lungs-svgrepo-com:before {
    content: "\f1ef";
}
.icon-my-male-black-short-hair-shape-silhouette-svgrepo-com:before {
    content: "\f1f0";
}
.icon-my-male-hair-variant-svgrepo-com:before {
    content: "\f1f1";
}
.icon-my-medical_information:before {
    content: "\f1f2";
}
.icon-my-medical_services:before {
    content: "\f1f3";
}
.icon-my-medication_liquid:before {
    content: "\f1f4";
}
.icon-my-medication:before {
    content: "\f1f5";
}
.icon-my-men-elbow-svgrepo-com:before {
    content: "\f1f6";
}
.icon-my-men-leg-svgrepo-com:before {
    content: "\f1f7";
}
.icon-my-men-shoulder-svgrepo-com:before {
    content: "\f1f8";
}
.icon-my-monitor_heart:before {
    content: "\f1f9";
}
.icon-my-nose-outline-svgrepo-com:before {
    content: "\f1fa";
}
.icon-my-nose-svgrepo-com:before {
    content: "\f1fb";
}
.icon-my-pelvis-svgrepo-com:before {
    content: "\f1fc";
}
.icon-my-penis-svgrepo-com:before {
    content: "\f1fd";
}
.icon-my-personal_injury:before {
    content: "\f1fe";
}
.icon-my-pill:before {
    content: "\f1ff";
}
.icon-my-point_of_sale:before {
    content: "\f200";
}
.icon-my-print_setting:before {
    content: "\f201";
}
.icon-my-ribs-svgrepo-com:before {
    content: "\f202";
}
.icon-my-small-intestine-svgrepo-com:before {
    content: "\f203";
}
.icon-my-spine-svgrepo-com:before {
    content: "\f204";
}
.icon-my-standing-human-body-silhouette-svgrepo-com:before {
    content: "\f205";
}
.icon-my-stethoscope:before {
    content: "\f206";
}
.icon-my-stomach-svgrepo-com:before {
    content: "\f207";
}
.icon-my-thin-lips-outline-svgrepo-com:before {
    content: "\f208";
}
.icon-my-tongue-and-mouth-svgrepo-com:before {
    content: "\f209";
}
.icon-my-tongue-svgrepo-com:before {
    content: "\f20a";
}
.icon-my-tonsil-svgrepo-com:before {
    content: "\f20b";
}
.icon-my-tooth-outline-svgrepo-com:before {
    content: "\f20c";
}
.icon-my-tooth-shape-outline-svgrepo-com:before {
    content: "\f20d";
}
.icon-my-upper-torso-of-a-woman-svgrepo-com:before {
    content: "\f20e";
}
.icon-my-women-eyelashes-svgrepo-com:before {
    content: "\f20f";
}
.icon-my-word:before {
    content: "\f210";
}
